<h1>Which Mike is best?</h1>
<ul>
  <li><img style="width: 270px" src="/assets/mike-busch-baseball.jpg" /></li>
  <li><img style="width: 270px" src="/assets/mike-busch-business-weenie.jpg" /></li>
  <li><img style="width: 270px" src="/assets/mike-busch-model.jpg" /></li>
  <li><img style="width: 270px" src="/assets/mike-busch-coding-teacher.png" /></li>
  <li><img style="width: 270px" src="/assets/mike-busch-fat-aviator.jpg" /></li>
</ul>
